* { box-sizing: border-box;
margin: 0;
padding: 0;}
a {text-decoration: none;}

/* CSS Main 1 */

#main-1 {
    width: 100%; height: 500px;
    background-image: url(/image/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navbar {  color: white; position: absolute; top :10px ; left: 12%;
background-color: #484248; opacity: 0.8; 
padding: 10px; border-radius: 5px;}
.navbar ul li{display: inline-block}
.navbar ul li a {list-style-type: none; color: white; font-size: 13px;
padding: 5px;}

.main-1-content { color: white; text-align: center;
position: absolute; top: 20%;
padding: 10px;}

.main-1-button{text-align: center; width: 15%;;
position: absolute; top: 45%; left: 42.5%; }

.btt-get { position: absolute; bottom: 5%; left: 36%;
background-color:#79CCC8;  padding: 10px 15px;}
.btt-get button {color: white; background-color:#79CCC8;border: none;}


/* CSS Main 2 */
#main-2 {background-color: #E8B968; 
width: 100%; position: relative; }
.main-2-right {position: absolute; right: 0; top: 30%; width: 30%;}
.main-2-left { width: 55%; padding: 15% 0 3% 5%; 
display: flex; flex-direction: column; gap: 20px;}
.main-2-left { color: white;}
.main-2-left button { background: none;
border: 1px solid white; color: white; padding: 5px;}

/* CSS Main 3 */

#main-3 { width: 100%; display: flex; flex-direction: column; align-items: center;}
#main-3 .main-3-top {padding: 10% 5%; width: 100%;
    background-image: url(/image/tBG01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;}
.main-3-center { display: flex; flex-direction: column; gap: 20px; align-items: center;}
.main-3-center p { font-size: 25px; color: white;}
#main-3 .main-3-top img { width: 20%;}
#main-3  .circle-3 > * {width: 13px; height: 13px; border-radius: 50%; border: 1px solid white; 
display: inline-block; margin: 5px;}
#main-3  .circle-3 #circle-3-1 { background-color: white;}
.main-3-bottom { width: 10%;}


/* CSS Main 4 */

#main-4 { width: 100%;}

.main-4-grid { display: grid; grid-template-columns: 1fr 1fr;
 padding: 10px; gap: 10px ; }
.main-4-buttom {width: 100%; text-align: center;}
.main-4-buttom button {background-color: #F69579; border: none; 
color: white; padding: 10px; margin: 20px 0 ; }

/* CSS Main 5 */

#main-5 {background-color: #F6F6F4; width: 100%;}
.main-5-container {padding: 50px 10px 60px 10px; }
.main-5-container > * {display: inline-block; vertical-align: middle; margin-right: 5px;}

.main-5-card-1 { width: 100px; height: 200px; background-color:white}
.main-5-card-1  .box-1 { width: 100px; height: 150px; background-color: #F69579; margin-bottom: 7px;}
.main-5-card-1 p {padding: 3px; font-size: 10px;}

.main-5-card-2 { width: 100px; height: 200px; background-color:white }
.main-5-card-2  .box-2 { width: 100px; height: 150px; background-color: #E8B968;margin-bottom: 7px;}
.main-5-card-2 p {padding: 3px; font-size: 10px;}

.main-5-content { width: 120px; height: 200px;}

/* CSS Main 6 */
#main-6 {background-color: #79CCC8; width: 100%; position: relative; color: white;}
.main-6-content {width: 59%; display: inline-block; padding: 15px 10px;}
.main-6-navbar{width: 39%;display: inline-block; padding: 15px 10px;vertical-align: top;}
.main-6-navbar > ul > li {list-style-type: none; margin-left: 25%;}
.main-6-navbar > ul > li a {color: white;}

.main-6-content > * {display: inline-block;}
.main-6-content-1 {width: 50%;}
.main-6-content-2 {width: 39%;vertical-align: top}
.main-6-icon {width: 100%; text-align: center;}
.main-6-icon img {margin: 40px 0;}

.main-6-copy {width: 100%; text-align: center;}
.main-6-copy p {padding: 30px 10px;}












   









